.address-card {
	padding: 60px 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow-y: auto;
	margin-bottom: 40px;
	user-select: none;
	width: 50vw;
	height: 42vh;
	background-color: var(--white);
	border-radius: var(--default-radius);
	animation: var(--fade-up-animation);
}


.address-card .name {
	font-size: var(--sub-title-size);
	text-align: center;
}

.address-card .info {
	text-align: center;
}