.card {
	animation: var(--fade-up-animation);
	display: flex;
	flex-direction: column;
	border-radius: var(--default-radius);
	font-family: var(--usual-font);
	width: 60vw;
	height: 90vh;
	margin: 0 auto;
	/* background-color: var(--gray);	 */
}

.img-holder {
	display: flex;
	flex-direction: column;
	border-radius: inherit;
	justify-content: center;
	align-items: center;
	/* background-color: aqua; */
	height: 90%;
}

img {
	border-radius: inherit;
	width: auto;
	height: 90%;      
}

.text-holder {
	text-align: center;
	/* background-color: aquamarine; */
}