.card {
	animation: var(--fade-up-animation);
	display: flex;
	flex-direction: column;
	border-radius: var(--default-radius);
	font-family: var(--usual-font);
	font-size: var(--usual-size);
	width: 60vw;
	height: 90vh;
	margin: 0 auto;
}

.img-holder {
	display: flex;
	flex-direction: column;
	border-radius: inherit;
	justify-content: center;
	align-items: center;
	height: 85%;
}

.img-holder img {
	border-radius: inherit;
	width: auto;
	height: 90%;
	border: 20px solid var(--transparent);
}

.text-holder {
	text-align: center;
	border-radius: inherit;
	padding: 10px 20px;
	background-color: var(--white);
}