.quote-text {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	font-family: var(--usual-font);
	background-color: #ececec;
	border-radius: inherit;
	scroll-snap-align: start;

}

.quote {
	font-size: var(--usual-size);
	font-family: inherit
}

.author {
	font-family: var(--fancy-font);
	font-size: var(--quote-author-size);
	text-align: right;
}