.quotes-card {
	display: flex;
	flex-direction: column;
	border-radius: var(--default-radius);
	font-family: var(--usual-font);
	width: 70vw;
	height: 80vh;
	margin: 0 auto;
	/* background-color: #ececec; */
}

.quotes-holder {
	animation: var(--fade-up-animation);
  opacity: 0;
	padding: 0 40px;
	font-family: var(--usual-font);
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	border-radius: inherit;
}

.group-name {
	text-align: center;
	font-size: var(--sub-title-size);
	font-family: var(--fancy-font);
}