.handler-holder {
  position: absolute;
  z-index: 1;
}

.handler-holder img {
		filter: hue-rotate(160deg);
}

.handler-resource:hover {
	transition: var(--transition);
	scale: 1.15;
	filter: drop-shadow(0 0 20px #38aff3) hue-rotate(160deg);
}