.handler-holder {
  position: absolute;
  /* Remove or set a low z-index */
  z-index: 1; /* or just omit z-index */
}

.handler-holder img {
		filter: hue-rotate(160deg);
}

.handler-resource:hover {
	transition: var(--transition);
	scale: 1.15;
	filter: drop-shadow(0 0 20px #38aff3) hue-rotate(160deg);
}