.circle-button {
	transition: var(--transition);
	width: 30px;
	height: 30px;
	border-radius: 100%;
  background-color: var(--red);
	filter: drop-shadow(0 0 20px var(--red));
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.scaled-button {
	width: 50px;
	height: 50px;
}

.circle-button:hover {
  background-color: #6d3027;
	scale: 1.15;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}