.slider-holder {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.slider-holder::before {
	content: '';
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../../public/images/homepage/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -6px 0;
	filter: blur(8px);
}