.container {
	background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  gap: 3rem;
	font-family: var(--usual-font);
}

.title {
	font-family: var(--fancy-font);
  font-size: var(--title-size);
  color: var(--black);
  user-select: none;
  margin: 0;
}

.buttonsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 100px);
	gap: 1.5rem 3rem;
}

.button {
	font-family: inherit;
	position: relative;
	overflow: hidden;
	background-color: inherit;
	font-size: var(--button-font-size);
	border-radius: var(--default-radius);
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	/* transition: color 0.3s ease, border-color 0.3s ease; */
	width: 390px; 
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: left 0.5s ease;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.6); 
}

.button::before {
	filter: opacity(0.3); 
}

.button:hover::before,
.button:focus::before {
	left: -100%;
}


.button:hover,
.button:focus {
	scale: 0.9;
  outline: none;
  z-index: 1;
}

span {
	z-index: 1;
	font-weight: 900;
}


/* Dynamically set background images per button id using attribute selector */
.button[data-btn="1"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page1.jpg');
}
.button[data-btn="2"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page2.jpg');
}
.button[data-btn="3"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page3.jpg');
}
.button[data-btn="4"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page4.jpg');
}
.button[data-btn="5"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page5.jpg');
}
.button[data-btn="6"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page6.jpg');
}
