.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3rem;
	font-family: var(--usual-font);
	overflow: hidden;
}

.container::before {
	content: '';
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../../public/images/homepage/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -6px 0;
}

.title {
	font-family: var(--fancy-font);
  font-size: var(--title-size);
  color: var(--white);
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  user-select: none;
  margin: 0;
}

.buttonsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 100px);
	gap: 1.5rem 3rem;
}

.button {
	background-color: rgba(0, 0, 0, 0.25);
	color: var(--white);
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	font-family: inherit;
	position: relative;
	overflow: hidden;
	/* background-color: inherit; */
	font-size: var(--button-font-size);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: var(--default-radius);
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	width: 440px; 
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: left 0.5s ease;
	z-index: 0;
	background-color: var(--white); 
}

.button::before {
	filter: opacity(0.75); 
}

.button:hover::before,
.button:focus::before {
	left: 0;
}


.button:hover,
.button:focus {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	scale: 0.9;
}

span {
	z-index: 1;
	font-weight: 900;
}


/* Dynamically set background images per button id using attribute selector */
.button[data-btn="1"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page1.jpg');
}
.button[data-btn="2"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page2.jpg');
}
.button[data-btn="3"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page3.jpg');
}
.button[data-btn="4"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page4.jpg');
}
.button[data-btn="5"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page5.jpg');
}
.button[data-btn="6"]::before {
	border-radius: var(--default-radius);
  background-image: url('../../public/images/homepage/page6.jpg');
}
