@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--black: #000000;
	--gray: #c4c4c4;
	--white: #ffffff;
	--blue-light: #e6f7ff;
	--blue: #0077b3;
	--blue-dark: #005b99;

	--usual-font: 'PT Serif', Arial;
	--fancy-font: 'Playfair Display', Arial;
	
	--title-size: 4rem;
	--button-font-size: 1.3rem;
	--back-button-font-size: 3.5rem;

	--default-radius: 12px;

	--transition: all 0.2s ease;
}

