:root {
	--black: #000000;
	--gray: #c4c4c4;
	--white: #ffffff;
	--blue: #0077b3;
	--blue-dark: #005b99;
	--red: #cf2727;

	--usual-size: 1.1rem;
	--title-size: 4.5rem;
	--sub-title-size: 2.25rem;

	--default-radius: 12px;
}

html {
	scroll-behavior: smooth;
		overflow: hidden;
}
