.back-arrow {
	user-select: none;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	cursor: 'pointer';
	font-size: var(--back-button-font-size);
	transform: rotate(180deg);
	padding: 10px 30px;
	margin: 10px 20px;
	border-radius: var(--default-radius);
	background-color: var(--white);
	transition: var(--transition);
}

.back-arrow:focus,
.back-arrow:hover {
	background-color: var(--gray);
	scale: 0.9;
	border: 2px solid var(--black);
}

.back-arrow:focus {
	background-color: #8f8f8f
}