.close-button {
	user-select: none;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	cursor: 'pointer';
	font-size: var(--back-button-font-size);
	transform: rotate(180deg);
	padding: 0px 30px;
	margin: 10px 20px;
	border-radius: var(--default-radius);
	background-color: var(--white);
	transition: var(--transition);
}

.close-button:focus,
.close-button:hover {
	background-color: var(--red);
	scale: 0.9;
	border: 2px solid var(--black);
}

.close-button:focus {
	background-color: var(--dimmed-red)
}